*{
    box-sizing: border-box;

}

body{
    margin: 0;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size:1.5rem;
    text-align:center;
}

a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
p{
    font-size:1.2rem;
    text-align:justify;
}

.dotted-hr{
    border:dotted 6px white;
    border-bottom:none;
    margin:20px auto;
    width:70px
}

[class*="col"]{
    float:left;
    padding:10px;
}


[class*="col-"]{
    width:100%;

}
/* navbbar desing start */

.navbar{
    background-color:#40868b;
    padding: 1% 7%;
 text-align: center;
}

.navbar h1{
    color:white;
    margin:0;
    padding-top:10px;
}

.navbar-menu{
    display:flex;
    flex-direction:colum;
    text-transform:uppercase;
}

.navbar-menu a{
    background-color:#0c6168;
    margin:7px 0px;
    border-radius:10px;
    padding:10px;
}

.navbar-menu a:hover{
    background-color:gray;
}

.navbar::after{
    content: '';
    display:table;
    clear:both;
}
/* navbar design ends here */

/* profile design start from here */

.profile{
    padding:130px 10px;
    position:relative;
    text-align:center;
}

.profile .top-weather-icon{
position:absolute;
right:60px;
top:20px;
}

.profile .top-weather-icon:hover{
transform: rotate(360deg);
}

.profile-desc h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:3rem;
}

.profile-desc p{
    color:gray;
    text-align:center;
    /* width:90px; */ 
      margin:0 auto 20px auto; 
} 
  
.profile .bottom-weather-icon{
    position:absolute;
    left:60px;
    bottom:10px;
    }
    
    .profile .bottom-weather-icon:hover{
    transform: rotate(360deg);
    }
    
/* profile design ends here */

/* about me starts here */

.about-me{
    background-color:#39a4ac;
    padding:1% 7%;
    color:white;
    text-align:center;
    font-family:sans-serif;
}

.about-me::after{
    clear:both;
    display:table;
    content:'';
}



/* about me ends here */
